<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .container {
        width: 600px;
        height: 600px;
        border: 1px solid grey;
        margin: 50px auto;

        display: none;
      }

      body {
        border-color: aquamarine;
        background-repeat: space repeat;
        background-image: url("./image.png");
        background-repeat: no-repeat;
        /* background-size: cover; */
        background-attachment: scroll;
      }
    </style>
  </head>
  <body>
    <div class="container"></div>
  </body>
</html>
