body {
  font-family: Arial, sans-serif;
  background-color: #0d6d83;
  margin: 0;
  padding: 0;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

h4 {
  margin: 3rem 0 2rem 0.7rem;
  font-size: 3rem;
  font-family: sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 3rem;
  padding: 0;
}

.btn-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.btn {
  background-color: transparent;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
}
