@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  width: 100%;
  height: 100vh;
  margin: 0px;
  padding: 50px;
  padding-bottom: 30px;
  box-sizing: border-box;
}

.page-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-title {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Poppins";
}

.carousel-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.carousel-slides-container {
  width: fit-content;
  position: relative;
}

.carousel-slide {
  height: calc(100vh - 289px);
  width: 100%;
  border-radius: 6px;
  object-fit: contain;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  width: auto;
  padding: 20px;
  font-size: 20px;
  color: white;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.3);
}

.prev-btn {
  left: 16px;
}

.next-btn {
  right: 16px;
}

/* .carousel-slide {
  display: none;
} */

.carousel-dots {
  text-align: center;
  margin-top: 20px;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0px, 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  /* transition: background-color 0.6s ease; */
  cursor: pointer;
}

.dot:hover {
  background-color: #ce036a;
}
.dot-active {
  background-color: #ce036a;
}

/* Carousel style end */

.copyright-text {
  width: 100%;
  text-align: center;
  font-family: "Poppins";
  margin: 20px 0 0 0;
}

/* level 2 started */
.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

.popup-content {
  margin: auto;
  display: block;
  width: 80%;
  height: 80%;
}

#popup-image {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  object-fit: contain;
}
/* Responsive design media queries */
/* The styles below are taking priority over the styles mentioned above when the window size is smaller then 768px (In case of tablet and mobile devices).  */

@media (max-width) {
  body {
    padding: 30px;
    padding-bottom: 20px;
  }
  .page-header {
    flex-direction: column;
  }
  .carousel-slide {
    height: calc(100vh - 319px);
  }
  .project-title {
    font-size: 32px;
  }

  .popup-content {
    width: 90%;
  }
}
